<a href="https://colab.research.google.com/github/6230204513/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd #ใช้ pd แทน panda => ใช้ในการจัดการข้อมูลต่างๆ
import os

In [131]:
from google.colab import drive #เชื่อมต่อ google drive กับ Colab ของเรา นี้เป็นคำสั่งเชื่อม |accout colab กับ Drive ควรเป็น accout เดียวกัน|
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data' #มันอยู่ใน Driveของเรา บอกทางผ่านไฟล์เรา

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [132]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv')  # ความสำคัญ เราทำบน window linux มันจะไม่เหมือนกัน มันเอาไฟล์มา/กัน กลับมาเขียนต่อ
data_df = pd.read_csv(data_file_path)

In [133]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

ตรวจสอบค่าใน column

In [134]:
set(data_df['province_of_onset']) #ยุบรวมค่าที่ซ้ำกันให้เป็น 1 ค่า

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [135]:
len('สมุุทรสงคราม')

12

In [136]:
'สมุุทรสงคราม'[2]

'ุ'

In [137]:
'สมุุทรสงคราม'[3]

'ุ'

## ต่อตาราง

* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

In [138]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'] #แสดงข้อมูลที่มี province_of_onset เป็น กรุงเทพมหานคร
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [139]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น'] #แสดงข้อมูลที่มี province_of_onset เป็น ขอนแก่น
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [140]:
dataBKKKKC = pd.concat([BKK,KKC]) #นำตารางข้อมูลที่มี province_of_onset เป็น กรุงเทพมหานคร และ ขอนแก่น มาต่อกัน
dataBKKKKC #แสดงตารางข้อมูล

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [141]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])  #สามารถต่อได้มากกว่า 2 ตาราง
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

## ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [142]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex', 'age','nationality']] 
BKK2

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12616   ชาย  26.0    Thailand
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12619  หญิง  19.0    Thailand
12647   ชาย  42.0    Thailand

[2789 rows x 3 columns]

In [143]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality', 'sex']]
KKC2

        age nationality   sex
180    33.0    Thailand   ชาย
462    36.0    Thailand  หญิง
1466   19.0    Thailand   ชาย
1970   70.0    Thailand  หญิง
2637   63.0    Thailand  หญิง
2673   68.0    Thailand   ชาย
5948   32.0    Thailand  หญิง
6082   36.0    Thailand  หญิง
9333   17.0    Thailand   ชาย
9334   20.0    Thailand   ชาย
10610  17.0    Thailand   ชาย
11517  12.0    Thailand   ชาย
11697  17.0    Thailand  หญิง
11698  37.0    Thailand  หญิง

In [144]:
pd.concat([BKK2,KKC2]) #นำตารางที่หัวข้อตารางเหมือนกัน แต่ข้อมูลข้างในมีจุดที่ต่างกันมาต่อกัน

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [145]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality', 'risk']]
KKC3

        age nationality                                           risk
180    33.0    Thailand                                        สนามมวย
462    36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466   19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970   70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637   63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ
2673   68.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948   32.0    Thailand                              Cluster สมุทรสาคร
6082   36.0    Thailand                              Cluster สมุทรสาคร
9333   17.0    Thailand                           อยู่ระหว่างการสอบสวน
9334   20.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  17.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  12.0    Thailand                           อยู่ระหว่างการสอบสวน
11697  17.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  37.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

In [146]:
pd.concat([BKK2,KKC3]) #นำตารางที่ หัวข้อตารางแตกต่างกันมาต่อกัน

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    NaN  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   NaN  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698   NaN  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 4 columns]

In [147]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality']]
KKC4

        age nationality
180    33.0    Thailand
462    36.0    Thailand
1466   19.0    Thailand
1970   70.0    Thailand
2637   63.0    Thailand
2673   68.0    Thailand
5948   32.0    Thailand
6082   36.0    Thailand
9333   17.0    Thailand
9334   20.0    Thailand
10610  17.0    Thailand
11517  12.0    Thailand
11697  17.0    Thailand
11698  37.0    Thailand

In [148]:
pd.concat([BKK2,KKC4])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    NaN  20.0    Thailand
10610   NaN  17.0    Thailand
11517   NaN  12.0    Thailand
11697   NaN  17.0    Thailand
11698   NaN  37.0    Thailand

[2803 rows x 3 columns]

### ต่อแกน X

In [149]:
personal_data = data_df[['No.', 'sex', 'age', 'nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [150]:
covid_data = data_df [['No.', 'announce_date', 'province_of_isolation', 'province_of_onset', 'risk']]
covid_data.head()

   No. announce_date  ... province_of_onset                              risk
0    1     1/12/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...            นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 5 columns]

In [151]:
covid_data = data_df [['No.', 'announce_date', 'province_of_isolation', 'province_of_onset', 'risk']].sample(frac=1)  # สลับ row สุ่มมั่ว โดยใช้ .sample(frac=1)
covid_data.head()

       No. announce_date  ... province_of_onset                    risk
2972  2973      5/4/2020  ...             สงขลา  ศูนย์กักกัน ผู้ต้องกัก
6511  6512    12/30/2020  ...               NaN    อยู่ระหว่างการสอบสวน
8694  8695      1/5/2021  ...         สมุทรสาคร       Cluster สมุทรสาคร
1313  1314     3/29/2020  ...     กรุงเทพมหานคร             สถานบันเทิง
148    149     3/17/2020  ...     กรุงเทพมหานคร                 สนามมวย

[5 rows x 5 columns]

### เอาตารางสองอันมาต่อกัน

In [152]:
personalcovid_data = personal_data.merge(covid_data) # .merge เป็นคำสั่งที่ใช้ในการต่อ row เมื่อ หัวข้อตารางแตกต่างกัน ก็ยังสามารถนำมาต่อกันได้ อีกทั้งยังเพิ่มหัวข้อตารางตามที่ดึงข้อมูลมาด้วย
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [153]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

    No. announce_date province_of_isolation  ...   sex   age nationality
0  2973      5/4/2020                 สงขลา  ...  หญิง  20.0    ต่างด้าว
1  6512    12/30/2020                ชลบุรี  ...   ชาย   NaN    Thailand
2  8695      1/5/2021             สมุทรสาคร  ...   ชาย   NaN       Burma
3  1314     3/29/2020         กรุงเทพมหานคร  ...  หญิง  54.0    Thailand
4   149     3/17/2020         กรุงเทพมหานคร  ...   ชาย  23.0    Thailand

[5 rows x 8 columns]

## Save Table

In [159]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv') )

In [160]:
personalcovid_data.to_csv('my_processed_data.csv')

## Groupby

https://www.kaggle.com/crawford/python-groupby-tutorial#

In [156]:
data_df.groupby('nationality').count() #แสดงจำนวน

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [157]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [158]:
data_df.groupby('nationality')['age'].min() #ต้องใส่ชื่อ column ลงไป ถึงจะใช้คำสั่ง min ได้

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

In [161]:
data_df.groupby('nationality').min(' ') #ถ้าต้องการหา min() or max() อย่างน้อยต้องใส่ ' ' ใน () ไม่อย่างนั้นจะไม่สามารถ run ouyput ออกมาได้

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]